#container {
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
	ul {
		margin:0; padding:0;
		li{
			float:left;
			margin:0; padding:0;
			width:150px;
			height:150px;
			background:#000;
			list-style:none;
			opacity:0;
			transform: scale(0.9);
			transform-origin: center center;
			transition:transform .25s cubic-bezier(0.000, 0.000, 0.580, 1.000);	
		}
		li.animate{
			transform: scale(1);
		}
		li.block-1 {
			background:#000;	
		}
		li.block-2 {
			background:#000;
		}
	}
}
